<div class="header">
    <div class="container">
        <div class="row top-section">
            <div class="top-section__content">
                <div class="twelve columns">
                    <img src="/images/profile.png">
                    <h1>Mike Lovely</h1>
                    <p>Software Engineer | Bristol, UK</p>
                </div>
            </div>
        </div>
        <div class="row top-section">
            <div class="top-section__about">
                <div class="twelve columns">
                    <div class="social">
                        <a href="https://github.com/mikelovely" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://uk.linkedin.com/in/mike-lovely-179835101" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
